body {
  font-family: "Nunito", "sans-serif";
  background-color: #f5d9d5;
  overflow-x: hidden;
}
#main-Navbar .navbar-brand {
  color: #ea1c2c;
}
#main-Navbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#main-Navbar .nav-link {
  color: white;
}
#main-Navbar .nav-link:hover {
  color: #ea1c2c;
}
span {
  color: #ea1c2c;
}
#heading-group h1 {
  font-weight: 100;
  font-size: 4rem;
}
@media (max-width: 1286px) {
  #heading-group h1 {
    font-size: 2.5rem;
  }
}
#text-box p {
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 100;
  color: #f498b8;
}
h2 {
  font-weight: 100;
  color: #ea1c2c;
  font-size: 2.5rem;
}
section {
  margin-bottom: 100px;
}
.scrolled {
  background-color: #debdde;
  transition: background-color 200ms linear;
}
